<div class="container my-5">
    <div class="row my-md-5 py-md-5">
        <div class="col-md-6">
            <h1 class="display-1">{{ h1_home }}</h1>
            <p class="lead">{{ lead_home }}</p>
            <a class="btn btn-outline-dark btn-lg mt-5 px-5" href="/index.php?route=creator">{{ button_start }}</a>
        </div>
        <div class="col-md-6">
            <img src="/image/lead.png" alt="" class="w-75 h-auto d-block mx-auto">
        </div>
    </div>
</div>